body{
    text-align: center;
    align-self: center;
}

.square{
    height: 50px;
    width: 50px;
    margin: 10px;
    float: left;
    border: 2px solid black;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
}

.center{
    text-align: center;
}

.dropzone{
    background: #E7DACD;

}

#endTurn{
    background: #D55352;
}

#distribute{
    background: #F2ADA7;
}